%div.my_page
  %div.my_page_title
    My Page
  %div.my_page_name
    Name : 
    = @user.name
  %div.my_page_email
    Email :
    = @user.email 
  %a.my_page_btn{:class =>"btn", :href => edit_user_registration_path}  Edit Page 