.friend-list {

  &__list {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 300px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    background: rgba(0, 0, 50, 0.1);
  }

  &__item {
    &__contents {
      background: rgba(0, 0, 300, 0.1);
      font-size: 15px;
      font-weight: bold;
      padding: 10px 15px;
      border: 1px solid gray;
      line-height: 50px;
      &:hover{
      	background: rgba(0, 0, 300, 0.2);
      }
      button{
        line-height: 20px;
        font-size: 15px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }
    }
    &__OpenChatID {
      background: rgba(0, 0, 300, 0.5);
    }
  }

}