.edit_page{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;

  &_title{
    text-align: center;
  }

  .edit_user{
  	width: 560px;
  	margin: 0 auto;
  	height: 430px;
  	border: 1px solid black;
  	padding: 30px;

    .field{
      label{
        text-align: left;
      }
      input{
        font-size: 20px;
  	    width: 500px;
  	    margin: 0 auto;
      }
    }
    .actions{
      text-align: center;
      padding-top: 20px;
      input{
        line-height: 30px;
        font-size: 20px;
        display: inline-block;
        background: rgba(0, 100, 100, 0.2);
        border-radius: 10px;
        font-weight: bold;
        & :hover{
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .button_to{
  	padding-top: 30px;
    text-align: center;
    input{
      line-height: 30px;
      font-size: 20px;
      display: inline-block;
      background: rgba(100, 0, 0, 0.2);
      border-radius: 10px;
      font-weight: bold;
      & :hover{
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .back{
    display: inline-block;
    text-align: center;
  	line-height: 30px;
    font-size: 20px;
  	padding-top: 5px;
  }
}
