#react-search{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;

  text-align: center;

  .users-box{
  	&__input{
  	  font-size: 20px;
  	  height: 40px;
  	  width: 500px;
  	}
  }

  .users-list{
    &__list{
      margin: 0 auto;
      width: 500px;
    }
    &__item{
      font-size: 20px;
      padding: 5px 5px;
      border: 0.1px solid gray;
      line-height: 30px;
      &:hover{
      	background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}